# frontend
frontend/node_modules
frontend/dist
frontend/dist-ssr
frontend/*.local
frontend/.DS_Store
frontend/*.log
frontend/npm-debug.log*
frontend/.idea
frontend/.vscode/*
frontend/!frontend/.vscode/extensions.json
frontend/vite.config.ts.timestamp-*
frontend/mock/*.mjs
